@import '../../../sass/all';

.card {
  align-items: center;
  justify-content: center;
}

.col-top {
  align-self: flex-end;
  height: 85px;

  &:first-child {
    .card-top {
      background-color: $brand-primary;
    }
  }

  .card-top {
    height: 85px;
    padding: $padding-base;
  }
}

// Right hand col content
.card-top-rhs {
  //background: url("https://www.aat.org.uk/assets/img/svg/aat_logo.svg");
  background: url('/assets/img/green2x.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 192px;
}

///assets/img/frontpage/img_full.jpg