<div class="row">
    <div class="col-md-4 col-top">
        <div class="card card-top">
            <h4 class="h4">{{ dashcontent.heading1 }}</h4>
        </div>
    </div>
    <div class="col-md-4 col-top">
        <div class="card card-top">
            <h4 class="h4"><i class="far fa-star">&nbsp;&nbsp;</i>{{ dashcontent.heading2 }}</h4>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-top-rhs">
            <h4 class="h4">{{ dashcontent.heading3 }}</h4>
        </div>
    </div>
</div>
<!--top row-->

<div class="row">
    <div class="col-md-8">
        <div class="card card-progress">
            <dashboard-myprogress></dashboard-myprogress>
        </div>
        <div class="card card-adminresults">
            <dashboard-adminresults></dashboard-adminresults>
        </div>
        <div class="card">{{ dashcontent.heading6 }}</div>
        <div class="card">{{ dashcontent.heading7 }}</div>
    </div>
    <div class="col-md-4">
        <div class="card">{{ dashcontent.heading8 }}</div>
    </div>
</div>
<!--second row-->