@import '../../../sass/all';

.card {
}

.col-top {
  align-self: flex-end;
  height: 85px;

  &:first-child {
    .card-top {
      background-color: $brand-primary;
    }
  }

  .card-top {
    height: 85px;
    padding: $padding-base;
    align-items: center;
    justify-content: center;
  }
}

// Right hand col content
.card-top-rhs {
  background: url('/assets/img/promo-bgd.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 192px;
  color: $white;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: $padding-base;
}

///assets/img/frontpage/img_full.jpg