@import '../../../sass/all';

.row {
  padding-top: $padding-base;
}

.drawer {
  border-bottom: 1px solid $ui-grey-2;
  cursor: pointer;
}

.module-title {
  position: relative;
  left: 15px;
  font-size: $font-size-small;
}

.fa-check-circle {
  color: $success;
  font-size: 20px;
}

.fa-check {
  font-size: 16px;
}

.accordion {
  padding: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 0.8s ease;
}

.accordion.open {
  max-height: 400px;
}