@import '../sass/variables';
@import '../sass/mixins';
@import '../sass/colours';

.header {
  position: relative;
  height: 68px;
  //z-index: -999;
  margin-left: 260px;

  //EXPANDING SEARCH

  &-toolbar {
    background: #fff;
    //width: 100vw;
    height: 50px;
    line-height: 50px;

    &__inner {
      float: right;
      ul {
        margin: 0;
        padding: 0 20px 0 0;
        li {
          list-style: none;
          margin: 0;
          padding: 0 0 0 20px;
          display: inline-block;
          position: relative;
        }
      }
      i {
        height: 45px;
        line-height: 50px;
        color: $black;
        vertical-align: top;
      }
      label {
        margin: 0;
        padding: 0;
        vertical-align: top;
        i {
          position: absolute;
          top: 0;
          right: 0;
        }
        input {
          margin: 0;
          padding: 0;
          -moz-appearance: none;
          -webkit-appearance: none;
          border: 1px solid #fff;
          font-size: 14px;
          text-align: left;
          width: 0;
          height: 25px;
          transition: 0.1s border linear, 0.25s width linear;
          &:focus {
            border: 1px solid #ccc;
            outline: none;
            width: 200px;
            transition: 0.1s border linear, 0.25s width linear;
          }
        }
      }

      .avatar {
        background: lightgrey;
      }
      .profile-menu {
      }
    }

    & > div {
      padding: 0 20px;
    }
  }

  #branding {
    text-transform: uppercase;
    letter-spacing: 0px;
    float: left;
  }
}

.hero {
  position: relative;
  height: 100px;
  z-index: -999;
  background: $ui-grey-2;
  //margin-left: 260px;
  padding-left: $padding-medium;
}


//fixed sidebar
.sidebar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  //width: 260px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */

  &-main {
    display: flex;
    flex-wrap: nowrap;
    height: 100%;

    &-icons {
      //width: 68px;
      flex: 0 0 68px;
      max-width: 68px;
      background: $black;

      &-brand {
        padding: 20px 0 0 0;
        height: 68px;
      }

      ul {
        color: $white;
        opacity: 0.8;
        text-align: center;

        li {
          padding: $padding-base;
          height: 68px;

          i {
            font-size: 24px;
          }
        }
      }
    }

    &__menu {
      //width: 192px;
      flex: 0 0 192px;
      max-width: 192px;
      background: $ui-grey-4;
      button {
        background: transparent;
        border-color: transparent;
        border-style: none;
        border-width: 0;
        padding: $padding-base $padding-base 0 0;
        float: right;
        i {
          color: $white;
          font-size: 20px;
        }
      }

      ul {
        top: 68px;
        position: relative;
        color: $white;
        opacity: 0.8;

        li {
          padding: $padding-base;
          height: 68px;
        }
      }
    }
  }
}

//main content
.dashboard {
  margin-left: 260px; /* Same as the width of the sidebar */
}
