@import '../sass/variables';
@import '../sass/mixins';

.header {
  position: relative;
  height: 68px;
  z-index: 1030;
  background: lightgrey;
}

.hero {
  position: relative;
  height: 282px;
  z-index: 1030;
  background: grey;
}