<!--<h1>-->
<!--{{title}}-->
<!--</h1>-->

<!--<ul>-->
<!--<li><a [routerLink]="['home']" routerLinkActive="active">Home</a></li>-->
<!--<li><a [routerLink]="['about']" routerLinkActive="active">About</a></li>-->
<!--<li><a [routerLink]="['contact']" routerLinkActive="active">Contact</a></li>-->
<!--</ul>-->

<!--<button class="btn btn-success" style="margin-left:80px;" [@myTrigger]="state" (click)="toggleState()">My Button</button>-->
<!--<button class="btn btn-success" style="margin-left:80px;" (click)="toggleState()" [@removeMe]="btnState">My Button</button>-->

<!--<ul>-->
<!--&lt;!&ndash;<li *ngFor="let item of items" [@myTrigger]="state">{{ item }}</li>&ndash;&gt;-->
<!--<li *ngFor="let item of items" [@myTrigger]="state" (@myTrigger.start)="animStart($event)" (@myTrigger.done)="animDone($event)">{{ item }}</li>-->
<!--</ul>-->

<!--<p>{{ animDetails }}</p>-->

<!--<page></page>-->


<div class="main-wrapper">

    <header class="header">
        <div class="header-toolbar">
            <nav class="header-toolbar__inner">
                <ul>
                    <li>
                        <label>
                            <i class="fas fa-search"></i>
                            <input type="search" name="search" placeholder="SEARCH APP">
                        </label>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <!--header-->

    <aside class="sidebar">

        <div class="sidebar-main">
            <div class="sidebar-main-icons">

                <div class="sidebar-main-icons-brand">
                    <img alt="AAT Home" height="30" src="https://www.aat.org.uk/assets/img/svg/aat_logo.svg"
                         title="AAT Home" width="69">
                </div>

                <ul>
                    <li><i class="fas fa-home"></i></li>
                    <li><i class="far fa-clipboard"></i></li>
                    <li><i class="far fa-life-ring"></i></li>
                    <li><i class="fas fa-suitcase"></i></li>
                    <li><i class="fas fa-users"></i></li>
                    <li><i class="fas fa-id-card"></i></li>
                    <li><i class="far fa-newspaper"></i></li>
                </ul>
            </div>
            <!--sidebar-main-icons-->

            <div class="sidebar-main__menu" [@sideMenuAnime]="openClose">
                <button (click)="hideAndShow()" role="button" class="btn-sidemenu__close"><i class="fas fa-angle-left"></i></button>
                <ul>
                    <li>MyAAT</li>
                    <li>Training and assessment</li>
                    <li>Professional zone</li>
                    <li>My career</li>
                    <li>Support resources</li>
                    <li>My membership</li>
                    <li>News and events</li>
                </ul>

            </div>
            <!--sidebar-main__menu-->
        </div>
        <!--Sidebar container-->

    </aside>
    <!--sidebar-->

    <article class="dashboard" [@mainContainerAnime]="openClose">

        <div class="hero" [@heroAnime]="openClose">
            <h1>Good morning, Julia</h1>
            <p>Welcome back to your dashboard Julia, hope today is a good day.</p>
        </div>
        <!--hero-->

        <div class="container">

            <div class="row">
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <h4 class="h4">Read your AAT Teaching Toolkit</h4>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <h4 class="h4">3 Saved articles</h4>
                            </div>
                        </div>
                    </div>
                    <!--row-->

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <h3 class="h3">Resources</h3>
                            </div>
                        </div>
                    </div>
                    <!--row-->

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <h3 class="h3">My progress</h3>
                            </div>
                        </div>
                    </div>
                    <!--row-->

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <h3 class="h3">Administration</h3>
                            </div>
                        </div>
                    </div>
                    <!--row-->
                </div>

                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <h3 class="h3">We launched new qualification</h3>
                            </div>
                        </div>
                    </div>
                    <!--row-->

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <h3 class="h3">Information and updates</h3>
                            </div>
                        </div>
                    </div>
                    <!--row-->

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <h3 class="h3">Key dates</h3>
                            </div>
                        </div>
                    </div>
                    <!--row-->

                </div>
                <!--col-->

            </div>
            <!--row for both cols-->


        </div>
        <!--container-->

    </article>


    <router-outlet></router-outlet>
</div>
<!--main wrapper-->
