@import '../sass/all';
//@import '../sass/mixins';
//@import '../sass/colours';
//@import '../sass/font-sizes';

.hero {
  position: relative;
  height: 100px;
  z-index: -999;
  background: $ui-grey-2;
  //margin-left: 260px;
  padding-left: $padding-medium;
}


//fixed sidebar
.sidebar {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  //width: 260px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */

  &-main {
    display: flex;
    flex-wrap: nowrap;
    height: 100%;

    &-icons {
      //width: 68px;
      flex: 0 0 68px;
      max-width: 68px;
      background: $black;

      &-brand {
        padding: 20px 0 0 0;
        height: 68px;
      }

      ul {
        color: $white;
        opacity: 0.8;
        text-align: center;

        li {
          padding: $padding-base;
          height: 68px;

          i {
            font-size: 24px;
          }
        }
      }
    }

    &__menu {
      //width: 192px;
      flex: 0 0 192px;
      max-width: 192px;
      background: $ui-grey-4;
      button {
        background: transparent;
        border-color: transparent;
        border-style: none;
        border-width: 0;
        padding: $padding-base $padding-base 0 0;
        float: right;
        position: relative;
        top: 10px;

        i.fa-angle-left {
          color: $white;
          font-size: 20px;
        }
      }

      ul {
        top: 68px;
        position: relative;
        color: $white;
        opacity: 0.8;

        li {
          padding: $padding-base;
          height: 68px;
        }
      }
    }
  }
}

//main content
.dashboard {
  margin-left: 260px; /* Same as the width of the sidebar */

  button {
    background: transparent;
    border-color: transparent;
    border-style: none;
    border-width: 0;
    padding: $padding-base $padding-base 0 0;
    float: none;
    position: absolute;
    top: 10px;
    left: 80px;

    i.fa-angle-right {
      color: $black;
      font-size: 20px;
      //transform: translateX(44px);
    }
  }
}
