<!--<a class="edit-link" href="#">See more</a>-->

<h3>{{ mycareer.heading }}</h3>

<p>{{ mycareer.summary }}</p>

<div class="row">
  <div class="col-md-6">
    <ul>
      <li><a href="/dashboard">{{ mycareer.link1.title }}</a></li>
      <li><a href="/dashboard">{{ mycareer.link2.title }}</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <ul>
      <li><a href="/dashboard">{{ mycareer.link3.title }}</a></li>
      <li><a href="/dashboard">{{ mycareer.link4.title }}</a></li>
    </ul>
  </div>
</div>