<!--<a class="edit-link" href="#">Edit</a>-->

<h3>{{ adminresults.title }}</h3>

<p>{{ adminresults.summary }}</p>

<div class="row">
    <div class="col-md-7">
        <!--<dashboard-resultscarousel></dashboard-resultscarousel>-->
        <i class="far fa-check-circle"></i>
        <h4>Congratulations! You passed Bookkeeping Controls</h4>
    </div>
    <div class="col-md-5">
        <ul>
            <li><a href="/dashboard">Qualification dashboard</a></li>
            <li><a href="/dashboard">Your assessment results</a></li>
            <li><a href="/dashboard">Statement of achievement</a></li>
            <li><a href="/dashboard">Grade calculator</a></li>
            <li><a href="/dashboard">Find an assessment venue</a></li>
        </ul>
    </div>
</div>
